h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
li{
    font-family: verdana;
    font-size: 15px;
}
main{
    display: flex;
    justify-content: space-around;
}
#customer-list .selected{
    background-color: brown;
}
#cupcake-list{
    cursor: pointer;
}